a {
 text-decoration: none !important;
 color: transparent;
}
blockquote {
  background: #f9f9f9 ;
  border-left: 3px solid #ccc;
  padding:  0.5rem;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

.comment_div label.requiredField {
    display: none !important;
}

.messages {
      margin-bottom: 0 !important;
}

ul {
list-style-type: none;
}

.django-ckeditor-widget {
    display: flex !important;
}