{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ block.super }} | update | {{ recipe.title }}
{% endblock head_title %}

{% block content %}
<div class="container">


<h1>Dodaj</h1>
    <div class="crispy_forms_file">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
        <input type="submit" value="Dodaj"/>
        </form>
    </div>
    <br>

</div>
{% endblock content %}