{% extends "layout.html" %}
{% block content %}

<div class="row row-cols-1 row-cols-md-2">
{% for recipe in recipes %}

    <div class="col mb-4">
        <div class="card">
            {%  if recipe.image %}
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'show' id=recipe.id %}">{{ recipe.title }}</a></h5>
              <p class="card-text">{{ recipe.mini_body|truncatechars:500 }}</p>
              <a href="{% url 'show' id=recipe.id %}" class="btn btn-primary">Zobacz teraz!</a>
          </div>
            <div class="card-footer">
                <small class="text-muted">Dodano: {{ recipe.created_at|timesince }} przez {{ recipe.user }}</small>
            </div>
        </div>
    </div>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if recipes.has_previous %}
            <a href="?page={{ recipes.previous_page_number }}{%  if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
        </span>

        {% if recipes.has_next %}
            <a href="?page={{ recipes.next_page_number }}{%  if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

</div>
{% endblock content %}