{% extends "layout.html" %}
{% block content %}

<div class="row row-cols-1 row-cols-sm-3">
    {% for recipe in recipes %}

    <div class="col sm-6">
        <div class="card mb-4">
            {%  if recipe.image %}
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'show' id=recipe.id %}">{{ recipe.title }}</a></h5>
              <p class="card-text">{{ recipe.mini_body|truncatechars:500 }}</p>
              <a href="{% url 'show' id=recipe.id %}" class="btn btn-primary">Zobacz teraz!</a>
          </div>
            <div class="card-footer">
                <small class="text-muted">Dodano: {{ recipe.created_at|timesince }} przez {{ recipe.user }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    {% if recipes.has_next or recipes.has_previous  %}
        <div class="container-fluid ml-0 mr-0">
            <div class="d-flex justify-content-center ">
              <ul class="pagination">

                    {% if recipes.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ recipes.previous_page_number }}{%  if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
                        </li>
                    {% endif %}

                <li class="page-item active">
                  <a class="page-link" href="#">{{ recipes.number }}|{{ recipes.paginator.num_pages }}</a>
                </li>

                    {% if recipes.has_next %}
                        <a class="page-link" href="?page={{ recipes.next_page_number }}{%  if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
                    {% endif %}
              </ul>
            </div>
        </div>
    {% endif %}
{% endblock content %}